# Copy to .env and fill in your values
# Run with: uv run python -m ingestion.src.main --session-key 9158

SNOWFLAKE_ACCOUNT=QJCHIDB-BU78481
SNOWFLAKE_USER=FLAVS
SNOWFLAKE_PRIVATE_KEY_PATH=../terraform/rsa_key.p8
SNOWFLAKE_DATABASE=APEXML_DB
SNOWFLAKE_SCHEMA=RAW
SNOWFLAKE_WAREHOUSE=APEXML_WH
SNOWFLAKE_ROLE=APEXML_WRITER
