# Copy this file to terraform.tfvars and fill in your values
# NEVER commit terraform.tfvars — it is gitignored

snowflake_organization = "QJCHIDB"
snowflake_account      = "BU78481"
snowflake_user         = "FLAVS"
snowflake_private_key  = "your-private-key-contents-here"
snowflake_warehouse    = "APEXML_WH"
snowflake_database     = "APEXML_DB"
environment            = "dev"
